[00:00.000 --> 00:07.040]  Today we're excited to bring you the results of some new research we've done
[00:07.040 --> 00:13.380]  here in the crop physiology lab and we're going to talk about light pollution
[00:13.380 --> 00:20.640]  and how sensitive is cannabis to very low levels of light. Now right out of the
[00:20.640 --> 00:26.200]  gate I can tell you that our research shows that it is extremely sensitive but
[00:26.200 --> 00:30.760]  it is not as sensitive as most people think. We're going to show you how to
[00:30.760 --> 00:37.400]  measure the light and interpret the data. One of the things terms that we have
[00:37.400 --> 00:43.440]  used is reagent grade darkness. Our laboratories are full of reagent grade
[00:43.440 --> 00:48.760]  chemicals which means they're very pure but the contaminants aren't really zero
[00:48.760 --> 00:53.920]  they're just extremely low contaminants that's what reagent grade mean means. So
[00:53.920 --> 01:00.680]  in the case of darkness how dark is dark? Can we really get to zero if we
[01:00.680 --> 01:05.840]  if we really count photons? We're going to talk about that. What are the
[01:05.840 --> 01:10.880]  tolerance limits for cannabis? So let's take a look at this. Now the people that
[01:10.880 --> 01:16.880]  are doing the work on this are Paul Kasuma who has been in this lab for
[01:16.880 --> 01:22.920]  five years doing a PhD and we're very proud to announce just last week he
[01:22.920 --> 01:27.920]  finished and now he's a postdoctoral fellow at Wageningen University in the
[01:27.920 --> 01:33.120]  Netherlands. He did a lot of this work and also Mitchell Westmoreland who you
[01:33.120 --> 01:37.000]  know because he's given you lots of lectures. These two guys have been taking
[01:37.000 --> 01:42.160]  careful measurements of multiple species. We're not just testing cannabis but some
[01:42.160 --> 01:49.380]  other crop plants. So when we take a look at this look at this title no problem
[01:49.380 --> 01:54.820]  seeing this title against a black background but now if the Sun starts to
[01:54.820 --> 02:00.020]  come up this is early dawn how many nanomoles of light is this it's getting
[02:00.020 --> 02:04.380]  brighter the Sun's getting brighter at what point the plants detect it's bright
[02:04.380 --> 02:09.140]  and this is still night but this is light pollution and now you can't even
[02:09.140 --> 02:14.460]  read the title because of the light pollution. This is a big deal. Neighbors
[02:14.460 --> 02:19.740]  worldwide complain about our greenhouses polluting their neighborhoods
[02:19.740 --> 02:27.060]  with light but this is a two-edged sword because their yard lights and their
[02:27.060 --> 02:33.740]  security lights pollute our greenhouses with light so we need to understand and
[02:33.740 --> 02:37.660]  be able to measure these low light levels so we can see when we're getting
[02:37.740 --> 02:46.860]  into trouble with this. There is a dark sky organization darksky.org that
[02:46.860 --> 02:52.300]  studies the effects of very low levels of light on a wide range of species. Lots
[02:52.300 --> 02:57.220]  of stories of turtles getting confused by light pollution. It turns out there's
[02:57.220 --> 03:02.100]  good evidence that many of the wildlife in our national parks are sensitive more
[03:02.180 --> 03:07.620]  sensitive to light than our plants are. Some people can sleep with lights on
[03:07.620 --> 03:12.300]  some people have to have it completely dark. There's all kinds of interactions
[03:12.300 --> 03:18.500]  with reagent grade darkness and biology. Here's our license plate Delicate Arch
[03:18.500 --> 03:24.620]  at Arches National Park. A source of great national pride here in Utah. Now
[03:24.620 --> 03:29.140]  this is artificially lit up to get this photograph but guess what see this Aurora
[03:29.300 --> 03:34.060]  back here that's the city of Moab in the background with light pollution to the
[03:34.060 --> 03:39.180]  sky. These are common kinds of slides. This would have been taken with a very
[03:39.180 --> 03:44.860]  long shutter speed so we can see starlight. So our instruments now have to
[03:44.860 --> 03:49.460]  have the equivalent of a very long shutter speed to rigorously quantify
[03:49.460 --> 03:58.500]  these very trace levels of light. This work you can go back in the literature
[03:58.500 --> 04:04.580]  to see what the other studies have been done and that's one of the things that
[04:04.580 --> 04:10.820]  we try to do good scholarship. If you study look for cannabis you get to a
[04:10.820 --> 04:20.580]  book by Daphne Vince Proulx 1975 and it's a sensitivity of seven species to light
[04:20.580 --> 04:26.740]  pollution. Now threshold value for an inhibition of flowering that's exactly
[04:26.860 --> 04:32.060]  what we're interested in. Here's the seven species even back then they were
[04:32.060 --> 04:37.100]  studying cannabis not because of anything medicinal value it was an
[04:37.100 --> 04:43.460]  interesting botanical species that was sensitive to low light. These numbers are
[04:43.460 --> 04:50.820]  in lux but they range from 0.1 to 21 and a half so that's a huge range and these
[04:50.820 --> 04:55.700]  are all species that are all sensitive to light. Here's the original references
[04:55.700 --> 05:01.860]  they came from. This book is a great piece of research on this and I want to
[05:01.860 --> 05:08.460]  thank Royal Hines for doing some of the early scholarship on this to find this
[05:08.460 --> 05:17.020]  table. Now let's convert from lux to micromoles per meter squared per second
[05:17.020 --> 05:21.700]  of photons because it's not lux that triggers this it's numbers of photons
[05:21.860 --> 05:28.900]  and assuming this is reflected sunlight off the moon we can make a conversion to
[05:28.900 --> 05:35.380]  units that we're more familiar with now and here it is same species but now
[05:35.380 --> 05:40.060]  micromoles per meter squared per second. The first thing you see is all these
[05:40.060 --> 05:48.140]  numbers are below one. Now remember full Sun is like 2,000 and so this is low low
[05:48.180 --> 05:53.700]  levels of light most normal meters have trouble even measuring this this low
[05:53.700 --> 05:59.220]  level. Garden mums are real common commercial crop we pull black cloth on
[05:59.220 --> 06:04.540]  garden mums to get them dark enough but kalanchoe and other floriculture
[06:04.540 --> 06:10.660]  species look at poinsettia. We have long considered poinsettia to be our most
[06:10.660 --> 06:16.420]  sensitive commercial species to light pollution and in fact based on this data
[06:16.500 --> 06:25.260]  it is it's four times more sensitive than mums and kalanchoe for 0.1 micromoles.
[06:25.260 --> 06:33.700]  Morning Glory not a commercial species. Cannabis Wow based on this data 1975
[06:33.700 --> 06:41.620]  that's far more sensitive than even poinsettias to light pollution. Soybeans
[06:41.620 --> 06:45.900]  are also really sensitive but this gives me the chance to point out that we've
[06:45.900 --> 06:51.460]  studied soybeans a lot and over the decades of repeated breeding of soybeans
[06:51.460 --> 06:57.940]  the sensitivity of soybeans to low light has been bred out of them. Our modern
[06:57.940 --> 07:03.780]  cultivars of soybeans can tolerate now a lot more light pollution than their
[07:03.780 --> 07:10.220]  early predecessors of 50 years ago or more. So it shows you that you can
[07:10.220 --> 07:15.800]  use breeding to shift the sensitivity to light pollution but that's a lot of
[07:15.800 --> 07:23.000]  breeding and right now we deal with this. So how do these levels compare to
[07:23.000 --> 07:29.080]  what we get from a full moon? A full moon is very bright. You walk outside and a
[07:29.080 --> 07:34.520]  full moon on a clear night and wow it seems really bright. Let's take a look at
[07:34.520 --> 07:44.560]  what full moon is. This is a study we did in 2018 with some precision sensors on
[07:44.560 --> 07:52.520]  the roof of Apogee instruments, clear sky, moonrise, we got to a peak, moon set.
[07:52.520 --> 08:05.200]  The peak was 1.6 nanomoles. Now here's 0.16 nanomoles over here. Let's get the pin on
[08:05.200 --> 08:19.360]  here. Dark blue, 0.16. This would be 0.0016 micromoles per meter squared per
[08:19.360 --> 08:23.760]  second. As we get into this business we have to shift our thinking from
[08:23.760 --> 08:30.400]  micromoles to nanomoles because the light levels get so low. So here's that
[08:30.520 --> 08:36.560]  graph just against a dark sky. That's a picture of the Apogee light pollution
[08:36.560 --> 08:42.240]  detector that people are using now to detect these nanomoles of light
[08:42.240 --> 08:48.480]  pollution. So let's go back with that 1.6 to our original graph. Now we can put
[08:48.480 --> 08:55.560]  that on there. Now we round that up to 2. If it's a harvest moon, some
[08:55.560 --> 09:00.680]  things can make the moon extra bright. So instead of 0.0016, round it to 2.
[09:00.680 --> 09:07.640]  But look, these levels are almost as high as that. 0.06 is three times as high as
[09:07.640 --> 09:16.760]  full moon, but it's close to full moon causing a problem. This data is from
[09:16.760 --> 09:23.720]  these references reported in 1975. That means all these studies were in the 50s
[09:23.880 --> 09:33.960]  and 60s on these crops. How good is this data? Fortunately, Jim Faust at Clemson
[09:33.960 --> 09:39.320]  University has recently done some very rigorous studies on the effect of light
[09:39.320 --> 09:45.400]  pollution in poinsettia. So let's see what, before we look at cannabis, let's
[09:45.400 --> 09:51.400]  see at how good his data is for poinsettia. Here's his studies. This is
[09:51.960 --> 09:57.560]  Professor Faust looking at his crop. This is a light gradient study. So down here
[09:57.560 --> 10:02.760]  it was very dark. The poinsettia bracts turned red like they should, but as he
[10:02.760 --> 10:07.800]  got to more light over here, there's light pollution. And these are
[10:07.800 --> 10:13.160]  intermediate levels of light in his study. So we repeated this several times
[10:13.240 --> 10:22.120]  on several cultivars. Here's his data. First of all, micromoles, and this is
[10:22.120 --> 10:31.960]  days to anthesis. So this line right here means they turned red quickly up to this
[10:31.960 --> 10:39.240]  point. And then as the light pollution got worse, it took longer and longer up at
[10:39.240 --> 10:44.600]  this point over here. It took over 100 days to turn red. This is a serious
[10:44.600 --> 10:51.560]  problem with the light pollution. If we put some data on here, 0.04. Now
[10:51.560 --> 11:01.480]  remember, let's put it up here. This is 40 nanomoles that the poinsettia
[11:01.480 --> 11:07.320]  started to detect this. These dots are two different poinsettia cultivars. In
[11:07.320 --> 11:14.040]  his work, he didn't see species variability in poinsettia. So anything
[11:14.040 --> 11:20.680]  below that is dark. Anything below 40 nanomoles. Now remember, full moon was
[11:20.680 --> 11:31.240]  two nanomoles. So full moon is way down here on this graph. Up here, 0.4. So that
[11:31.240 --> 11:43.640]  is 400 nanomoles. And that completely inhibited the crops. So let's keep track
[11:43.640 --> 11:48.680]  of this number. This is where the line starts to change direction. Go back to
[11:48.680 --> 12:01.080]  our screen. 1975, this number is 100 nanomoles. Let's put it up here, nanomoles.
[12:01.080 --> 12:10.360]  Jim Faust found they started to detect light pollution at 40 nanomoles. So what
[12:10.360 --> 12:18.120]  he found was that they were even more sensitive than those early studies. 40 is
[12:18.120 --> 12:25.640]  a lower number than 100. So how about cannabis? That's coming in close to full
[12:25.640 --> 12:31.480]  moon. Could cannabis detect the full moon? We set out to study that. We've done
[12:31.480 --> 12:36.840]  replicate studies now with cannabis, with precision levels of light pollution. When
[12:36.840 --> 12:42.680]  we do these studies, we turn the light pollution on, its tiny LEDs, and run it
[12:42.680 --> 12:52.360]  continuously through the night. Here's the data. Nanomoles, here's 40. Now this
[12:52.360 --> 13:00.360]  is the level that would start to affect poinsettias. And that took more than that.
[13:00.360 --> 13:07.800]  But look at this. This is flower diameter. So 100 means they got big flowers quickly.
[13:08.680 --> 13:15.400]  As we increased the light pollution up to 10, no effect in either Trump or cherry,
[13:15.400 --> 13:23.320]  two cultivars. Cherry was more sensitive than Trump. As we went to 20, we saw the
[13:23.320 --> 13:28.520]  flowers were just smaller. Now the plants were fine. They just, the flowers just
[13:28.520 --> 13:33.560]  developed more slowly and quite a bit more slowly. That's half of what this, and it
[13:34.440 --> 13:40.280]  only took 20 nanomoles. Trump's a little more tolerant. That took a little bit longer
[13:40.920 --> 13:50.280]  to fill out. But based on this data, we now conclude that 10 nanomoles or lower is dark
[13:50.280 --> 13:57.720]  enough so that we don't get an effect on flowering and cannabis. Remember our reference
[13:57.720 --> 14:07.320]  full moon? That was two. Here's our full moon reference here. Even full moon is not even close
[14:07.320 --> 14:16.520]  to bright enough to trigger an issue in flowering in cannabis. That's a key thing. Now
[14:17.640 --> 14:24.920]  to help you get a sense of light levels and what full moon light really is, we're going to do a
[14:24.920 --> 14:34.680]  little experiment here in the lab to show you light levels. Let's start with, this is a standard
[14:35.240 --> 14:41.080]  light meter that we would use to measure light for crops. This is the sunlight goes to 2000.
[14:41.800 --> 14:48.440]  You probably can't read this here, but can we read that if I put it out? 11. This is a well-lit
[14:48.440 --> 14:57.320]  office. We got lights in here so everything's well lit. What if we turn this to the floor like that?
[14:58.920 --> 15:05.400]  I'm already getting zero, turning it down here. But again, we're talking
[15:05.400 --> 15:14.120]  nanomoles. It's below detectable limits on this meter. What we're going to do now is turn
[15:14.600 --> 15:22.440]  the lights out and show you what nanomoles look like. Here's an important rule of thumb,
[15:22.440 --> 15:31.560]  and I hope you remember this. If you take a book, even with large print, out on the night with
[15:31.560 --> 15:38.760]  full moon, the brightest full moon, and the high in the sky, very clear skies, take it out and try
[15:39.720 --> 15:44.440]  and read the book. I brought Charlotte's Web, a children's book because it's got big print,
[15:44.440 --> 15:52.040]  easy to read here. On a night with full moon, even with a dark adapted eye, you cannot read
[15:52.680 --> 15:59.960]  the print in a book. If your greenhouse is so dark you can't read a book with big print,
[15:59.960 --> 16:05.720]  you're still okay. It's not going to trigger the cannabis. If you have one LED in the corner,
[16:05.720 --> 16:11.320]  it's not enough to read a book. It's not going to trigger the cannabis. This is a nice rule of
[16:11.320 --> 16:20.040]  thumb for how dark you are in a greenhouse or darkroom facility. Now let's try some experiments
[16:20.040 --> 16:27.480]  here. Let's turn out these lights and measure nanomoles. So here we are with all of our studio
[16:27.480 --> 16:37.480]  lights turned off, but with a dimmable LED in the back of the room. When we took our standard light
[16:37.480 --> 16:45.080]  meter to do this, there's a light enough to shoot this video, it's zeros. It's some number
[16:45.880 --> 16:50.920]  less than one. It's clearly not really zero, it's just too low to detect with the standard light
[16:50.920 --> 16:58.440]  meter. So we go to our light pollution detector, which is a thousand times more sensitive
[16:58.440 --> 17:03.400]  and this reads out in nanomoles. This has Bluetooth, so it's reading on my phone right here.
[17:04.040 --> 17:12.680]  If I hold this here, I'm getting 70 nanomoles. Now this is plenty of light pollution to cause
[17:12.680 --> 17:20.200]  problems, at least with cannabis. And if I take my Charlotte's Web book, I have no problem reading
[17:20.200 --> 17:28.920]  at all with this. But now what if we go darker and we're going to try to get this even less.
[17:30.600 --> 17:42.440]  Now we've reduced this to 37 nanomoles and this is still enough light pollution to cause problems
[17:43.080 --> 17:50.680]  and I can still read my book without a problem. I have to wait now to let my eyes adapt, but I can
[17:50.680 --> 18:00.200]  still read the book. Let's see if we can get it even darker. Now we're down 17, 13,
[18:02.840 --> 18:11.320]  9, 7. All right, now we're down at a light level that cannabis wouldn't detect. And now I'm going
[18:11.320 --> 18:21.000]  to even turn this down. We're at four nanomoles. The cannabis wouldn't detect this. I look at the
[18:21.000 --> 18:32.440]  book and if I let my eyes adapt, I can just barely read this book in this light at four
[18:32.440 --> 18:35.640]  nanomoles of light. In fact, I wouldn't want to read this.
[18:36.600 --> 18:46.760]  I don't even, yeah, I have to have dark adapted eyes to see the print, but this is four nanomoles
[18:48.760 --> 18:56.760]  measured with this. And this is pointed right at the light source. This gives you a sense
[18:56.760 --> 19:04.600]  of how dark is dark. Now we bring the light up a little bit. Look at this, 40 nanomoles.
[19:06.520 --> 19:13.560]  70 nanomoles. These are light levels that would trigger problems, but this is a lot of light.
[19:13.560 --> 19:18.200]  Now you can read this thing. You can read this thing from your computer screen where you're
[19:18.200 --> 19:26.840]  sitting and all we're giving this. Now we're going down. Let's hold this up here. There's 60 nanomoles.
[19:27.720 --> 19:33.240]  Going down 40 nanomoles. There's 20 nanomoles.
[19:36.280 --> 19:47.160]  13 nanomoles. 10 nanomoles. I can still read the book. Seven. This is the kind of light pollution
[19:47.160 --> 19:54.360]  we're talking about. See that little red LED there? There's no way that's enough to cause a problem
[19:54.920 --> 20:02.040]  with cannabis flowering. It needs to be brighter than it seems. The bottom line is our eyes are
[20:02.040 --> 20:10.360]  exquisitely sensitive to low light. Our irises open up. We can detect light pollution extremely well,
[20:10.360 --> 20:16.920]  but you have to measure it to see if you have a problem with cannabis. Now let's go back to full
[20:16.920 --> 20:23.960]  light. So we're back to full light in the studio. All of these tests, we were able to run the light
[20:24.040 --> 20:31.480]  all the way up to 50 and above and back down here, but you can see once again this zone
[20:33.160 --> 20:42.200]  right here below 10 is what we consider safe for cannabis. And again, our eyes are so sensitive,
[20:42.200 --> 20:49.320]  we can detect one, two, three, four down here, but you got to measure it. You can have light pollution
[20:49.320 --> 20:55.080]  in one spot and 10 feet away, it's not enough to matter. So one crack of light could affect one
[20:55.080 --> 21:04.440]  plant. If you see strange things happening with a plant in a corner, it doesn't necessarily mean it
[21:04.440 --> 21:09.800]  was light pollution. It could be temperature. It could be something else. Once again, you've got
[21:09.800 --> 21:22.520]  to measure the light. So back to this full moon, our data here suggest this would be six nanomoles
[21:24.920 --> 21:32.680]  from 1975. Our data indicate that this number is closer to 10 for the
[21:33.160 --> 21:37.080]  most sensitive species detecting light.
[21:39.480 --> 21:46.520]  So one other thing we have done is interactions with temperature. What we have found, I'm not
[21:46.520 --> 21:52.600]  going to go into this in detail, but this is nanomoles of light pollution. The slope of the
[21:52.600 --> 22:00.280]  line is steeper for cool night temperatures. That means there's an interaction with night
[22:00.280 --> 22:07.640]  temperature. Plants appear to be more sensitive to light pollution when the nights are cooler than
[22:07.640 --> 22:14.280]  when they're warm. This is an area of active study. I don't think this is going to wildly shift
[22:14.280 --> 22:21.560]  the data, but it might shift it from 10 down to 7 for detection limits if the nights are cool.
[22:22.280 --> 22:27.080]  Now, the average cannabis is somewhere right in the middle here. It's neither a warm night,
[22:27.080 --> 22:35.240]  the warm nights in this I think were 28 degrees, and the cool nights were 20 Celsius. So somewhere
[22:35.240 --> 22:42.440]  in the 80s and in the 60s at night, this is a big range, but it might interact with temperature.
[22:43.160 --> 22:49.480]  And finally, how does it interact with color? All of our studies were done with pure red light,
[22:49.480 --> 22:56.200]  which is the most potent source of light for phytochrome and for triggering light responses.
[22:56.200 --> 23:03.800]  That's why we're comfortable saying 10 is a safe limit. This is a study of the growth of the flowers
[23:04.600 --> 23:09.400]  with time after the start of short days. We took a micrometer and measured the flowers. Now, the
[23:09.400 --> 23:16.520]  first thing you want to look at is the control. Completely dark, and the flowers got big at this
[23:16.520 --> 23:24.760]  rate. Look at blue light. Blue light at the same intensity as all the others had no effect on the
[23:24.760 --> 23:31.880]  plants. Remarkable. We know that red has an effect, but in this study, look at green light.
[23:33.000 --> 23:40.120]  Green light was just as potent as red light for the plants. We say green lights are safe lights
[23:40.120 --> 23:47.720]  for plants. In this study, the green light was just as potent as red light. Why is that?
[23:48.040 --> 23:55.400]  This is a picture of a cross-section of a leaf. Here's the top. Here's the bottom of that leaf.
[23:57.320 --> 24:04.360]  Chlorophyll absorbs blue and red very efficiently, so those colors don't penetrate, but chlorophyll
[24:04.360 --> 24:11.640]  reflects green, and the green hits and penetrates deep into the leaf. And this is part of the
[24:12.600 --> 24:20.040]  reason that green light is not as safe as we might think. Now, don't go out here running around
[24:20.040 --> 24:26.280]  saying, Dr. Bugbee says that green light's not safe at all. Our eyes are so sensitive to green,
[24:26.920 --> 24:33.080]  we can see plants with 1,100th the amount of green light as we can with blue or red. It's still,
[24:33.080 --> 24:39.160]  if you've got to have a light, it's still the best color of light, but it is not completely safe.
[24:39.160 --> 24:44.120]  Some outfits have green lights on at night. That's a bad idea. Shouldn't have any lights on
[24:44.120 --> 24:53.000]  at night. It's still difficult. So it interacts with color. We're looking at what we call
[24:53.000 --> 24:59.240]  reciprocity. What if we give the plants a bright flash versus a low steady level? Are they the
[24:59.240 --> 25:06.680]  same thing? We're studying it. In some other crops, there is reciprocity. It is related to
[25:06.680 --> 25:13.800]  the cumulative dose of light at night. Really, the same thing we talk about daily light integral,
[25:14.360 --> 25:20.760]  we should now be talking about night light integral for light pollution. All of our studies
[25:20.760 --> 25:26.520]  were done with steady state light pollution. Then we're studying, starting to study what happens if
[25:26.520 --> 25:33.160]  we give them bright light for a short period of time. A lot of interesting stuff. It's a new
[25:33.160 --> 25:39.880]  frontier. Cannabis is a wonderful botanical species for this because it is so sensitive to
[25:41.000 --> 25:46.920]  low levels of light at night. This stuff, this work led to
[25:49.080 --> 25:56.120]  this paper by Paul Kasuma published in Frontiers in Plant Science, improving the predictive value
[25:56.120 --> 26:03.000]  of phytochrome photoequilibria, consideration of spectral distortion in a leaf. What we have
[26:03.000 --> 26:08.920]  found is our prediction of phytochrome needs to change too because again, because of green light
[26:08.920 --> 26:16.040]  penetrating leaves so effectively. Phytochrome is the molecule that triggers plants to get tall
[26:16.040 --> 26:22.680]  and short, triggers perception of shade. Our understanding of how colors affect that has been
[26:24.200 --> 26:32.360]  inadequate in the past. One important consideration in all this is does light pollution cause
[26:32.360 --> 26:40.520]  hermaphrodites and hermaphroditic flowers? There's a lot of observation suggesting that it does.
[26:41.240 --> 26:49.240]  There certainly is the potential for that. It's a statistical thing. It doesn't, it's not
[26:49.240 --> 26:55.720]  black and white. But again, if you're in the safe zone, we don't have any evidence that it causes
[26:55.720 --> 27:02.120]  hermaphroditic flowers. That's a very interesting question. A lot of things affect hermaphrodism,
[27:02.120 --> 27:08.120]  genetics is a big one. We're actively studying that and we'll talk more about that in another
[27:08.120 --> 27:17.720]  episode. One final thought. This is human vision and how our perception of color changes as the
[27:17.720 --> 27:26.440]  light gets dimmer. We talk about the photopic curve and that means how we see colors of light
[27:27.400 --> 27:32.920]  when an area is well lit. The peak here is right in the middle of the green light.
[27:32.920 --> 27:39.880]  Look at green lights, at least 10 times more sensitive than red and blue light. But look what
[27:39.880 --> 27:47.880]  happens when the lights dim. Our rods and cones adjust and this is called the Perkene effect.
[27:48.840 --> 27:56.920]  And this shifts and it's called the scotopic curve in low light. And now we can see blues and
[27:56.920 --> 28:04.120]  greens better. But look at the reds. This is the reds here. We can't see red colors in low light.
[28:05.320 --> 28:12.680]  Here's a geranium flower. We can see it fine. Low light is less red and even lower light you see
[28:12.680 --> 28:19.320]  the flower but it's gray. That's just a function of shifting. I put this slide in here because I
[28:19.320 --> 28:25.400]  think we're going to see something like this for plants. They perceive colors differently in very
[28:25.400 --> 28:32.360]  low light than they do in high light. This is some of the cutting edge research that we're doing on
[28:32.360 --> 28:39.000]  light pollution now. So stay tuned. We'll keep publishing papers and share the results with you.
[28:39.560 --> 28:46.760]  But for now, measure the light so you're below, so you're into the safe threshold
[28:46.760 --> 28:51.640]  when you're growing cannabis. We'll talk to you in a next episode.
